@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');

*{
    transition: .1s ease-in-out;
}
::-webkit-scrollbar {
    width: 0.5vw;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2vh;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 1vh;
}
html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fdfdfd;
    font-size: 1rem;
}
.container{
    width: 80vw;
    min-height: 90vh;
    margin: auto;
    padding: 7vh 0;
}

.title_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
.title{
    width: 100%;
    font-size: 1.9em;
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
}
.subtitle{
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #404040;
    font-weight: lighter;
}

.main_grid{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url("assets/worldMap.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.meet_map{
    height: 30vw;
}
.meet_grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

.member_block{
    width: 27%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3vh;
    padding: 3vh;
}
.member_block:first-child, .member_block:nth-child(2){
    width: 45%;
}
.member_main_info{
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-items: center;
}
.member_name{
    font-size: 1.3em;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
}
.member_contact_info{
    font-size: 1em;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
}

.member_address_info{
    font-size: 0.8em;
    color: grey;
    margin-top: 2vh;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}
.member_country_flag>img{
    width: 100%;
}

@media(max-width: 1054px){
    .member_block{
        width: 25%;
    }
    .member_block:first-child, .member_block:nth-child(2){
        width: 40%;
    }
    body{
        font-size: 0.9rem;
    }
}
@media (max-width: 860px) {
    body{
        font-size: 0.75rem;
    }
}
@media (max-width: 750px) {
    .main_grid{
        background-position-x: center;
        background-position-y: top;
    }
    .container{
        width: 90vw;
    }
    .member_block{
        width: 40%;
    }
    .member_block:first-child, .member_block:nth-child(2){
        width: 40%;
    }
}
@media (max-width: 599px) {

    .meet_map{
        height: 40vw;
    }
    .member_block{
        width: 60%;
    }
    .member_block:first-child, .member_block:nth-child(2){
        width: 60%;
    }
}
@media (max-width: 499px) {
    .member_block{
        width: 75%;
    }
    .member_block:first-child, .member_block:nth-child(2){
        width: 75%;
    }
}
@media (max-width: 399px) {
    .meet_map{
        height: 60vw;
    }
    .member_block{
        width: 90%;
    }
    .member_block:first-child, .member_block:nth-child(2){
        width: 90%;
    }
}